body {
  padding-top: 50px; /* overridden by navbar-height JS in base.html */
}
.starter-template {
  padding: 16px 15px 32px;
  text-align: left;
}
.combo {
  position: relative;
  float: left;
  color:red;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
  margin-left: 0px !important;
  margin-top: -3px !important;
}
